.main_header{
    display: flex;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
    background: #000;
}

/* 
LOGO 
*/

.main_header_logo{
    padding: 10px;
    flex-basis: 10%;
}
.logo{
    font-size: 2em;
    margin: 0 auto;
}
.logo a{
    color: #fff;
}

/* 
MENU
*/

.main_header_menu{
    display: flex;
    flex-basis: 90%;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.nav_menu{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}
.nav_menu_ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.nav_menu_ul_li{
    flex-basis: 20%;
    text-align: center;
}
.nav_menu_ul_li a{
    color: var(--mainThemeColor);
    padding: 5px 10px;
    border-radius: 10px;
}
.nav_menu_ul_li a:hover{
    background-color: var(--mainThemeColor);
    color: #fff;
}

/*  MENU MOBILE  */

.main_header_menu_mobile{
    flex-basis: calc(100%-320px);
    justify-content: center;

}
.main_header_menu_mobile ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 20px;
}
.main_header_menu_mobile ul li{
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}
.main_header_menu_mobile_obj{
    display: flex;
    align-items: center;
    padding: 20px;
    color: var(--mainThemeColor);
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}
.main_header_menu_mobile_obj:hover, .main_header_menu_mobile_obj_active{
    background-color: var(--mainThemeColor); 
    color: #fff;
}
.main_header_menu_mobile_sub1{
    min-width: 200px;
    background-color: var(--mainThemeColor);
    border-radius: 4px 0 4px 4px;
    -moz-border-radius: 4px 0 4px 4px;
    -webkit-border-radius: 4px 0 4px 4px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    right: -20px;
}
.main_header_menu_mobile_sub1 li{
    flex-basis: 100%;
}
.main_header_menu_mobile_sub1 li a{
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}
.main_header_menu_mobile_sub1 li a:hover{
    color: #fff;
    background-color: cyan;
}

/*
MAIN
*/

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 
FOOTER
*/

.main_footer{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    background: var(--mainThemeColor);
    padding: 20px 0;
}
.main_footer p{
    color: #fff;
}


/* 
404
*/

.nFound{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 40px;
    margin: 0 auto;
}
.nFound_header{
    flex-basis: 100%;
}
.nFound_header h1{
    font-size: 3em;
    color: var(--mainThemeColor);
}
.nFound p{
    font-size: 1.2em;
}
.nFound a{
    color: var(--mainThemeColor);
}

/* 
LOGIN
*/
.login{
    flex-basis: 20%;
    margin: 70px 0;
    padding: 7.8% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login_header{
    flex-basis: 100%;
    font-size: 2em;
    text-align: center;
}
.login_form{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
}
.login_form input{
    flex-basis: 100%;
    margin: 10px 0;
    border: solid 3px #000;
    border-radius: 50px;
    text-align: center;
}

/* 
RESPONSIVE
*/
@media (min-width: 1em){
    /* MENU */
    .nav_menu_ul{
        display: none;
    }
    /* MAIN PODCASTS */
    .main_podcasts_article{
        flex-basis: 75%;
    }
    /* MAIN LANGUAGE ARTICLES */
    .main_language_articles_item img{
        width: 60%;
        margin: 0 auto;
    }
    .main_language_articles_item header{
        flex-basis: 100%;
    }
    .main_language_articles_item h3{
        flex-basis: 100%;
        text-align: center;
        margin: 10px 0;
    }
    .main_language_articles_item p{
        margin: 3px 0;
    }
    /* MAIN LANGUAGE VIDEOS */
    .main_language_videos_article{
        flex-basis: 48%;
    }
    /* MAIN LANGUAGE JOB */
    .main_language_job_article{
        flex-basis: 50%;
        margin-top: 10px;
    }
    /* MAIN KNOWLEDGE AGGREGATOR */
    .main_content_article{
        flex-basis: 100%;
        padding: 20px;
        text-align: center;
    }
    /* MAIN VIDEOS */
    .main_videos_article{
        flex-basis: 75%;
    }
    /* MAIN ARTICLE */
    .main_article_header a{
        flex-basis: 100%;
    }
}
/* 570px */
@media (min-width: 578px){
    /* MAIN PODCASTS */
    .main_podcasts_article{
        flex-basis: 48%;
    }
    /* MAIN KNOWLEDGE AGGREGATOR */
    .main_content_article{
        flex-basis: 40%;
        padding: 20px;
        text-align: center;
    }
    /* MAIN VIDEOS */
    .main_videos_article{
        flex-basis: 48%;
    }
}
/* 600px */
@media (min-width: 630px){
    /* MAIN PODCASTS */
    .main_podcasts_article{
        flex-basis: 35%;
    }
}
/* 730px */
@media (min-width: 730px){
    /* MAIN PODCASTS */
    .main_podcasts_article{
        flex-basis: 30%;
    }
    /* MAIN LANGUAGE ARTICLES */
    .main_language_articles_item img{
        width: 20%;
    }
    .main_language_articles_item header{
        flex-basis: 80%;
    }
    .main_language_articles_item h3{
        text-align: left;
        margin: 0px 0px 0px 20px;
    }
    .main_language_articles_item p{
        margin-left: 20px;
    }
    /* MAIN LANGUAGE VIDEOS */
    .main_language_videos_article{
        flex-basis: 23%;
    }
    /* MAIN VIDEOS */
    .main_videos_article{
        flex-basis: 30%;
    }
    /* MAIN ARTICLE */
    .main_article_header a{
        flex-basis: 15%;
    }
}
/* 871px */
@media (min-width: 54.4375em){
    /* MAIN PODCASTS */
    .main_podcasts_article{
        flex-basis: 30%;
    }
    /* MAIN LANGUAGE JOB */
    .main_language_job_article{
        flex-basis: 23%;
        margin-top: 10px;
    }
    /* MAIN KNOWLEDGE AGGREGATOR */
    .main_content_article{
        flex-basis: 35%;
        padding: 20px;
        text-align: center;
    }
}
/* 889px */
@media (min-width: 55.5625em){
    /* MAIN PODCASTS */
    .main_podcasts_article{
        flex-basis: 30%;
    }
    /* MAIN KNOWLEDGE AGGREGATOR */
    .main_content_article{
        flex-basis: 35%;
        padding: 20px;
        text-align: center;
    }
}
/* 970px */
@media (min-width: 60.625em){
    /* MAIN PODCASTS */
    .main_podcasts_article{
        flex-basis: 30%;
    }
    /* MAIN KNOWLEDGE AGGREGATOR */
    .main_content_article{
        flex-basis: 20%;
        padding: 20px;
        text-align: center;
    }
}
/* 1121px */
@media (min-width: 70.0625em){
    /* MENU */

    .nav_menu_ul{
        display: flex;
    }

    /*  MENU MOBILE  */

    .main_header_menu_mobile{
        display: none;
    }

    /* MAIN PODCASTS */
    .main_podcasts_article{
        flex-basis: 25%;
    }

    /* MAIN KNOWLEDGE AGGREGATOR */
    .main_content_article{
        flex-basis: 18%;
        padding: 20px;
        text-align: center;
    }
}